<p>We will mostly follow the curriculum of the Data Carpentry lesson <a href="https://datacarpentry.org/R-ecology-lesson/">Data Analysis and Visualization in R for Ecologists</a>.</p>

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
        <td></td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>9:00</td>
        <td><a href="https://datacarpentry.org/R-ecology-lesson/00-before-we-start.html">Before we start</a>, <a href="https://datacarpentry.org/R-ecology-lesson/01-intro-to-r.html">Introduction to R</a></td>
      </tr>
      <tr>
        <td>10:40</td>
        <td>Coffee break</td>
      </tr>
      <tr>
        <td>11:00</td>
        <td><a href="https://datacarpentry.org/R-ecology-lesson/02-starting-with-data.html">Starting with data</a></td>
      </tr>
      <tr>
        <td>12:40</td>
        <td>Lunch break (lunch not provided)</td>
      </tr>
      <tr>
        <td>13:40</td>
        <td><a href="https://datacarpentry.org/R-ecology-lesson/03-dplyr.html">Manipulating, analyzing and exporting data with <strong><code>tidyverse</code></strong></a></td>
      </tr>
      <tr>
        <td>15:10</td>
        <td>Coffee break</td>
      </tr>
      <tr>
        <td>15:30</td>
        <td><a href="https://datacarpentry.org/R-ecology-lesson/03-dplyr.html">Manipulating, analyzing and exporting data with <strong><code>tidyverse</code></strong> (continued)</a></td>
      </tr>
      <tr>
        <td>17:00</td>
        <td>End</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>
        <td>9:00</td>
        <td><a href="https://datacarpentry.org/R-ecology-lesson/04-visualization-ggplot2.html">Data visualization with <strong><code>ggplot2</code></strong></a></td>
      </tr>
      <tr>
        <td>10:40</td>
        <td>Coffee break</td>
      </tr>
      <tr>
        <td>11:00</td>
        <td><a href="https://datacarpentry.org/R-ecology-lesson/04-visualization-ggplot2.html">Data visualization with <strong><code>ggplot2</code></strong> (continued)</a></td>
      </tr>
      <tr>
        <td>12:40</td>
        <td>Lunch break (lunch not provided)</td>
      </tr>
      <tr>
        <td>13:40</td>
        <td>Foundations of R programming: <a href="http://swcarpentry.github.io/r-novice-gapminder/10-functions/">Functions Explained</a>, <a href="http://swcarpentry.github.io/r-novice-gapminder/07-control-flow/">Control Flow</a></td>
      </tr>
      <tr>
        <td>15:10</td>
        <td>Coffee break</td>
      </tr>
      <tr>
        <td>15:30</td>
        <td>Foundations of reproducible scientific analysis: <a href="http://swcarpentry.github.io/r-novice-gapminder/16-wrap-up/">Writing Good Software</a>, <a href="http://swcarpentry.github.io/r-novice-gapminder/15-knitr-markdown/">Producing Reports With <strong><code>knitr</code></strong></a></td>
      </tr>
      <tr>
        <td>17:00</td>
        <td>End</td>
      </tr>
      <tr>
        <td></td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
